
.schedule-container {
     min-width: 800px;
}

.input-container {
     min-width: 800px;
}


 table {
     border-collapse: separate;
     border-spacing: 6px;
}

.jumbotron {
     color:blue;
     background-color: blueviolet;
     min-width: 800px;
}
